* {
    padding: 0;
    margin: 0;
    font-family: 'Josefin Sans', sans-serif;
    box-sizing: border-box;
}

body {
    background-color: #101010; /* Warna latar belakang utama */
}

.hero {
    height: 100vh;
    width: 100%;
    background-image: url(../img/slide1.webp);
    background-size: 50%;
    background-repeat: no-repeat;
    background-position: right 5% bottom 30%;
}

/* Slider Container */
.container {
    width: 700px;
    height: 500px;
    position: absolute;
    transform: translate(-50%, -50%);
    top: 55%;
    left: 75%;
    overflow: hidden;
    border: 15px solid white;
    border-radius: 8px;
}

/* Wrapper for Images */
.wrapper {
    width: 100%;
    height: 100%;
    display: flex;
    animation: slide 16s infinite;
}

img {
    width: 100%;
}

/* Animation for Sliding Images */
@keyframes slide {
    0%, 25% {
        transform: translateX(0);
    }
    30%, 50% {
        transform: translateX(-100%);
    }
    55%, 75% {
        transform: translateX(-200%);
    }
    80%, 100% {
        transform: translateX(-300%);
    }
}

nav {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding-top: 45px;
    padding-left: 8%;
    padding-right: 8%;
}

.logo {
    color: black;
    font-size: 35px;
    letter-spacing: 1px;
    cursor: pointer;
}

span {
    color: #f9004d;
}

nav ul li {
    list-style-type: none;
    display: inline-block;
    padding: 10px 25px;
}

nav ul li a {
    color: black;
    text-decoration: none;
    font-weight: bold;
    text-transform: capitalize;
}

nav ul li a:hover {
    color: #f9004d;
    transition: 0.4s;
}

.btn {
    background-color: #f9004d;
    color: black;
    text-decoration: none;
    border: 2px solid transparent;
    font-weight: bold;
    padding: 10px 25px;
    border-radius: 30px;
    transition: transform 0.4s;
}

.btn:hover {
    transform: scale(1.2);
}

/* About Section */
.about {
    width: 100%;
    padding: 100px 0;
    background-color: #191919;
}

.about img {
    height: auto;
    width: 430px;
}

.about-text {
    width: 550px;
}

.main {
    width: 1130px;
    max-width: 95%;
    margin: 0 auto;
    display: flex;
    align-items: center;
    justify-content: space-around;
}

.about-text h2 {
    color: white;
    font-size: 75px;
    text-transform: capitalize;
    margin-bottom: 20px;
}

.about-text h5 {
    color: white;
    letter-spacing: 2px;
    font-size: 22px;
    margin-bottom: 25px;
    text-transform: capitalize;
}

.about-text p {
    color: rgba(255, 255, 255, 0.8); /* Warna putih transparan */
    letter-spacing: 1px;
    line-height: 28px;
    font-size: 18px;
    margin-bottom: 45px;
}

/* Newsletter Form */
.newslatter form {
    width: 380px;
    max-width: 100%;
    position: relative;
}

.newslatter form input:first-child {
    display: inline-block;
    width: 100%;
    padding: 14px 130px 14px 15px;
    border: 2px solid #f9004d;
    outline: none;
    border-radius: 30px;
    background-color: #191919;
    color: white;
}

.newslatter form input:last-child {
    position: absolute;
    display: inline-block;
    outline: none;
    border: none;
    padding: 10px 30px;
    border-radius: 30px;
    background-color: #f9004d;
    color: black;
    box-shadow: 0px 0px 5px #000, 0px 0px 15px #858585;
    top: 6px;
    right: 6px;
}

/* Footer Section */
footer {
    position: relative;
    width: 100%;
    height: 400px;
    background: #101010;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

footer p:nth-child(1) {
    font-size: 30px;
    color: white;
    margin-bottom: 20px;
    font-weight: bold;
}

footer p:nth-child(2) {
    color: white;
    font-size: 17px;
    width: 500px;
    text-align: center;
    line-height: 26px;
}

/* Social Media Icons */
.social a {
    width: 45px;
    height: 45px;
    display: flex;
    align-items: center;
    justify-content: center;
    background: #f9004d;
    border-radius: 50%;
    margin: 22px 10px;
    color: white;
    text-decoration: none;
    font-size: 20px;
}

.social a:hover {
    transform: scale(1.3);
    transition: 0.3s;
}
